$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'rotate';
@import 'colors';
@import 'typography';
@import 'body';
@import 'shadows';
