@import 'colors';

h1,
h2,
h3,
h4 {
  font-family: 'Monoton', cursive;
}

p,
a  {
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}


.white {
  color: $white;
}
